*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(./werttt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.container{
    border-radius: 10px;
    height: 50vh;
    width: 50vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: burlywood;
    
}

.digit{
    font-size: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}





.btn{
    font-size: 30px;
    cursor: pointer;
    border: 4px solid grey;
    border-radius: 25px;
    width: 165px;
    background: white;

}

.decrement{
    padding-top: 10px;
}